<footer class="container-fluid mt-4 footer">
    <div class="row px-5">
        <div class="col-12 d-flex align-items-start justify-content-around">
            <h1 class="mx-3 text-center h-100">LOGO</h1>
            <div class="section d-flex flex-column">
                <h4>Conoce más</h4>
                <span>Nuestra Visión</span>
                <span>Cómo vender</span>
                <span>Cómo comprar</span>
            </div>
            <div class="section d-flex flex-column">
                <h4>Seguridad en</h4>
                <span>Envíos</span>
                <span>Formas de pago</span>
                <span>Garantías y Devoluciones</span>
            </div>
            <div class="section d-flex flex-column">
                <h4>Privacidad</h4>
                <span>Aviso de privacidad</span>
                <span>Términos y condiciones</span>
            </div>
            <div class="section d-flex flex-column">
                <h4>Conoce más</h4>
                <span>Nuestra Visión</span>
                <span>Cómo vender</span>
                <span>Cómo comprar</span>
            </div>
            <div class="section d-flex flex-column">
                <h4>Social</h4>
                <div class="d-lg-flex align-items-center justify-content-around icons-social">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-twitter-x"></i>
                    <i class="bi bi-tiktok"></i>
                    <i class="bi bi-linkedin"></i>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center flex-column mt-3">
            <div class="line"></div>
            <span class="cop mt-3 mb-4">Copyright 2023 , All Rights Reserved</span>
        </div>
    </div>
</footer>